<% this.title = '输入比赛密码' %>
<% include header %>
<div class="padding">
  <header class="ui medium header">该比赛需要密码</header>
  <form class="ui form" method="post">
      <div class="field">
          <label>密码</label>
          <input type="password" name="password" value="">
      </div>
      <div style="text-align: center; ">
      <button type="submit" class="ui labeled submit icon button">
        <i class="icon edit"></i> 提交
      </button>
      </div>
  </form>
<% include footer %>
